body{
    background-color: rgb(244, 246, 247);
}
.nav-btn button{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: rgb(129, 121, 121);
    border-style: none;
    cursor: pointer;
    color: white;
}
.nav-btn button:hover{
    background-color: #557e7c;
}
section{
    background-color: rgb(207, 223, 183);
    margin: auto 90px;
    position: relative;
    border-style: groove;
    border-radius: 10px;
}

#img img{
    width: 50%;
}
h3{
    font-size: 24px;
}
.btn-del button{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: rgb(216, 60, 60);
    border-style: none;
    cursor: pointer;
    color: white;
}
.btn-del button:hover{
    background-color: rgb(146, 146, 202);
}
ol li{
    margin: 10px 0px;
    font-size: 20px;
}